@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.root {
  padding-left: 3px;
  padding-right: 3px;
}

.icon {
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  width: 22px;
  height: 36px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px;
}

.icon i {
  font-style: normal;
}

.isActive {
  background: none #d8d8d8;
}

.icon-undo:before {
  content: "\f0e2";
}

.icon-redo:before {
  content: "\f01e";
}

.icon-unordered-list-item:before {
  content: "\f0ca";
}

.icon-ordered-list-item:before {
  content: "\f0cb";
}

.icon-blockquote:before {
  content: "\f10e";
}

.icon-bold:before {
  content: "\f032";
}

.icon-italic:before {
  content: "\f033";
}

.icon-underline:before {
  content: "\f0cd";
}

.icon-strikethrough:before {
  content: "\f0cc";
}

.icon-code-block:before,
.icon-code:before {
  content: "\f121";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-remove-link:before {
  content: "\f127";
}

.icon-image:before {
  content: "\f03e";
}

.icon-cancel:before {
  content: "\f00d";
}

.icon-accept:before {
  content: "\f00c";
}

.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
